@media (max-width: 600px) {
  .container1Mobile {
    background-color: #7036ba;
  }
  .boton1Mobile {
    margin-left: 120px;
    position: absolute;
    top: 300px;
  }
  .playbtn {
    margin-left: 150px;
    position: absolute;
    top: 865px;
  }
  .playbtn2 {
    margin-left: 150px;
    position: absolute;
    top: 1100px;
  }
  .imagenHowToStartMobile {
    margin-left: 30px;
  }
}
